<template>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1 >
				Selamat Datang Di Aplikasi Todo List Sederhana
			</h1>
			<span>Powered by : Iqbal Kurniawan</span>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {

	}
</script>