	<template>
		<div id="todo">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-center">
						<h3>Todo List</h3>	
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<input type="text" v-model="newTodo" @keyup.enter="addTodo" class="form-control" placeholder="Ketikan Isian anda ">
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<table class="table text-center">
							<tr v-for="(todo, index) in todos">
								<td><span v-bind:class="{'completed' : todo.done}">{{todo.text}}</span>
								</td>
								<td><button type="button" v-on:click="removeTodo(index, todo)" class="btn btn-danger">X</button>
								</td>
								<td><button type="button" v-on:click="toggleComplete(todo)" class="btn btn-primary">DONE</button>
								</td>
							</tr>
						</table>	
					</div>
				</div>
				
			</div>	
		</div>
		
	</template>
	
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

	</script> -->
	<script type="text/javascript">
		export default{
			data(){
				return {
					newTodo: "",
					todos:[]
				}
			},
			mounted(){
				this.getData();
				this.addTodo();
				this.removeTodo();
				this.toggleComplete();
			},
			methods: {
				async addTodo(){
					let textInput = this.newTodo.trim();
					if(textInput){
						 // POST /someUrl
						axios.post('/api/todo', {text: textInput}).then(response => {
							this.todos.unshift(
								{text: textInput, done: 0}
							)
							this.newTodo = ''
						});
					}
				},
				async removeTodo(index,todo){
					   axios.post('/api/todo/delete/' +todo.id).then(response => {
							this.todos.splice(index,1)	
						});	
				},
				async toggleComplete(todo){
					axios.post('/api/todo/change-done-status/' +todo.id).then(response => {
						todo.done = !todo.done
					});
				},
				async getData(){
					axios.get('/api/todo').then(response=>{
						console.log(response.data.data);
						let result = response.data.data;
					  	this.todos = response.data.data;
			
					});
				}
			}
		}
	</script>